In [ ]:
A = 5
a = "cinco"
b = True
c = 17,3
B = (2,3,7) #inmutable , no cambia
D = ["Juan", "Carlos"] #es modificable
E  = {"SP" : 7,}

In [ ]:
print(B)

(2, 3, 7)

In [ ]:
type(B)

tuple

In [ ]:
print ("la variable es ", type(12))
print ("la variable es ", type(13.3))
print ("la variable es ", type(True))
print ("la variable es ", type('67'))

la variable es  <class 'int'>
la variable es  <class 'float'>
la variable es  <class 'bool'>
la variable es  <class 'str'>

#Variables que almacenan multiples datos

In [ ]:
#creacion de una tupla
No_modificable = (1,2,3,4)
print("la variable es de tipo " , type(No_modificable))

la variable es de tipo  <class 'tuple'>

In [ ]:
#creacion de una lista
lista = [12, 67]
print("la variable es de tipo " , type(lista))

la variable es de tipo  <class 'list'>

In [ ]:
#creacion de un diccionario
diccionario = {"pedro": 67,
               "jose" : 40,
               "juan" : 30,
               "camilo": 70,
               "ana": 55,
               "julio" : 22,
               "roman" : 33,
               "pedrito" : 66
               }
print("la variable es de tipo " , type(diccionario))
print(diccionario)

la variable es de tipo  <class 'dict'>
{'pedro': 67, 'jose': 40, 'juan': 30, 'camilo': 70, 'ana': 55, 'julio': 22, 'roman': 33, 'pedrito': 66}

#DataSet

In [ ]:
#dataset
import pandas as pd #importar libreria panda
datos = {
    "nombre" : ["pedro", "jose", "juan", "camilo", "ana", "julio", "roman", "uriel"],
    "edad"   : [67, 40, 30, 70, 55, 22, 33, 66],
    "ciudad" : ["cali", "cali", "cali", "cali", "Medellin", "Bogota", "Yopal", "Pereira"],
    "altura":[1.70,1.80,1.75,1.67,1.54,1.66,1.78,1.69],
    "identificacion":[112524,134230,253494,299482,123456,283923,849283,289349],
    "deporte_fav":["basket","futbol","basket","futbol","basket","handball","futbol","voley"],
    "trabajo":["estudiante","delivery","estudiante","Oficina","doctor","maestro","estudiante","programador"]



}
#crear un dataframe
tabla = pd.DataFrame(datos)

#mostrar el tipo de la variable
print("la variable es de tipo; " , type(tabla))
print(tabla)

la variable es de tipo;  <class 'pandas.core.frame.DataFrame'>
   nombre  edad    ciudad  altura  identificacion deporte_fav      trabajo
0   pedro    67      cali    1.70          112524      basket   estudiante
1    jose    40      cali    1.80          134230      futbol     delivery
2    juan    30      cali    1.75          253494      basket   estudiante
3  camilo    70      cali    1.67          299482      futbol      Oficina
4     ana    55  Medellin    1.54          123456      basket       doctor
5   julio    22    Bogota    1.66          283923    handball      maestro
6   roman    33     Yopal    1.78          849283      futbol   estudiante
7   uriel    66   Pereira    1.69          289349       voley  programador